@mixin respond-to($breakpoint) {
  @media (min-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

@mixin box-model-paddings ($bm-p) {
  padding-right: $bm-p;
  padding-left: $bm-p;
}

@mixin box-model-negative-margins ($bm-nm) {
  margin-left: -$bm-nm;
  margin-right: -$bm-nm;
}

.container {
  @include box-model-paddings(45px)
}

.row {
  //border: 1px solid red;
  &--width-100 {
    //width: 100%;
  }
  display: flex;
  @include box-model-negative-margins(12px);
  &--justify-content-sb {
    justify-content: space-between;
  }
  &--justify-content-center {
    justify-content: center;
  }
  &--align-items-center {
    align-items: center;
  }
  &--justify-content-fe {
    justify-content: flex-end;
  }
}

.col {
  //outline: 1px solid white;
  @include box-model-paddings(12px);
  &--flex-end {
    display: flex;
    justify-content: flex-end;
  }
}

.col-20 {
  //border: 1px solid red;
  flex: 0 20%;
}
.col-fluid {
  //border: 1px solid blue;
  flex: 1;
}
.col-5 {
  width: 5%;
}
.col-8 {
  width: 8%;
}
.col-10 {
  width: 10%;
}
.col-6 {
  width: 100 / 8 * 1%;
}
.col-14 {
  //outline: 1px solid blue;
  width: 100 / 7 * 1%;
  flex-shrink: 0;
}
.col-16 {
  width: 16%;
}
.col-15 {
  width: 15%;
}
.col-30 {
  width: 30%;
}
.col-100 {
  width: 100%;
}

.flex {
  display: flex;
  &--js-end {
    justify-content: flex-end;
  }
}
.c-logo {
  //outline: 1px solid red;
  width: 95px;
  & img {
    width: 100%;
    display: block;
  }
}

.c-navigation {
  //outline: 1px solid red;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  &__list {
    //outline: 1px solid black;
  }
  &__item {
    //outline: 1px solid white;
    white-space: nowrap;
  }
}

.c-xls-load {
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  &--left {
    text-align: left;
  }
}

.c-bread-kroshki {
  font-size: 13px;
}

.c-user {
  //background: orange;
  display: flex;
  @include box-model-negative-margins(2.5px);
  &__exit {
    //background: purple;
    @include box-model-paddings(2.5px);
    & .material-icons {
      //background: pink;
      display: block;
      font-size: 20px;
    }
  }
  &__arrow-down {
    //background: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    @include box-model-paddings(2.5px);
    & .material-icons {
      //background: navajowhite;
      display: block;
      font-size: 15px;
    }
  }
}

.c-arrow-down {
  //background: red;
  display: flex;
  justify-content: center;
  align-items: center;
  & .material-icons {
    //background: navajowhite;
    display: block;
    font-size: 15px;
  }
}
.c-filter {
  font-size: 13px;
  @include box-model-negative-margins(2.5px);
  display: flex;
  &__text {
    @include box-model-paddings(2.5px);
  }
  &__selected {
    @include box-model-paddings(2.5px);
  }
  &__arrow-down {
    display: flex;
    justify-content: center;
    align-items: center;
    @include box-model-paddings(2.5px);
    & .material-icons {
      //background: navajowhite;
      display: block;
      font-size: 15px;
    }
  }
}
.c-date {
  //background: yellowgreen;
  font-size: 13px;
  @include box-model-negative-margins(2.5px);
  display: flex;
  &__calendar {
    //background: pink;
    @include box-model-paddings(2.5px);
  }
  &__arrow-down {
    display: flex;
    justify-content: center;
    align-items: center;
    @include box-model-paddings(2.5px);
    & .material-icons {
      //background: navajowhite;
      display: block;
      font-size: 15px;
    }
  }
}

.c-table {
  //border: 1px solid red;
  &__heading {
    //border: 1px solid black;
    height: 90px;
    display: flex;
    align-items: center;
  }
  &__body {
    //border: 1px solid green;
    @include box-model-negative-margins(10px);
    &--white {
      background: white;
    }
  }
  &__item {
    //border: 1px solid blue;
    height: 70px;
    display: flex;
    align-items: center;
    @include box-model-paddings(10px);
  }
  &__info {
    font-size: 12px;
    &--heading {
      font-size: 16px;
      font-weight: bold;
    }
  }
}

.c-table-horizon {
  //outline: 1px solid red;
  height: 70px;
  font-size: 12px;
  &:not(:last-child) {
    margin-bottom: 5px;
  }
  &__heading {
    //outline: 1px solid green;
    height: 100%;
    display: flex;
    align-items: center;
  }
  &__body {
    //outline: 1px solid blue;
    height: 100%;
    &--white {
      background-color: white;
    }
  }
  &__list {
    //outline: 1px solid steelblue;
    @include box-model-negative-margins(10px);
    display: flex;
    height: 100%;
  }
  &__item {
    //outline: 1px solid red;
    flex-shrink: 0;
    height: 100%;
    display: flex;
    align-items: center;
    @include box-model-paddings(10px);
  }
  &__info {
    display: block;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    max-width: 383px;
  }
}

.c-arrow-back {
  //border: 1px solid red;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.c-search-icon {
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.c-sort {
  //border: 1px solid purple;
  font-size: 16px;
  display: flex;
  &__text {
    //border: 1px solid red;
    flex: 1;
  }
  &__arrow-down {
    //border: 1px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    @include box-model-paddings(2.5px);
    & .material-icons {
      //background: navajowhite;
      display: block;
      font-size: 15px;
    }
  }
}

.c-counts {
  border-bottom: 1px solid rgba(174, 174, 183, 0.2);
  padding-top: 26px;
  padding-bottom: 26px;
  &--flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__item {
    //border: 1px solid green;
    display: flex;
    align-items: center;
    @include box-model-paddings(12px);
  }
  &__number {
    //border: 1px solid purple;
    @include box-model-paddings(12px);
  }
  &__text {
    //border: 1px solid orange;
    font-size: 12px;
    @include box-model-paddings(12px);
  }
}

.c-button {
  background: linear-gradient(316.75deg, #000000 10.78%, #FFFFFF 358.67%), #000000;
  border-radius: 4px;
  padding: 17px 29px;
  border: 0;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  outline: 0;
  font-size: 11px;
  cursor: pointer;
}

.c-more-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-modal {
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &__button {
    //border: 1px solid red;
    display: flex;
    &-update {
      text-decoration: none;
      color: black;
      font-size: 11px;
      font-weight: bold;
      text-transform: uppercase;
      display: block;
      padding-top: 13px;
      padding-bottom: 13px;
      margin-top: -13px;
      margin-bottom: -13px;
      &--underline {
        border-bottom: 2px solid #C9BA9D;
      }
    }
  }
  &__content {
    background: white;
    width: 100%;
    height: 578px;
    @include box-model-paddings(45px);
  }
  &__wrapper {
    //background: purple;
    position: relative;
    display: flex;
    padding-top: 53px;
    @include box-model-negative-margins(45px);
  }
  &__side {
    @include box-model-paddings(45px);
    width: 392 / 1280 * 100%;
  }
  &__close {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 48px;
    top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background: #F6F6FA;
    & .material-icons {
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
    }
  }
}

.c-forms {
  //background: pink;
  &:not(:last-child) {
    margin-bottom: 53px;
  }
  &__heading {
    //background: orange;
    color: #E5E5E5;
    margin-bottom: 43px;
  }
  &__body {
    //background: greenyellow;
  }
}
.c-text-block {
  //background: teal;
  padding-top: 34px;
  height: 114px;
  display: flex;
  &__input {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 32px;
    font-family: Roboto, sans-serif;
    outline: none;
    resize: none;
    border: 0;
  }
}
.c-message {
  //border: 1px solid black;
  height: 114px;
  &__text {
    resize: none;
    width: 100%;
    height: 100%;
    outline: none;
    border: 0;
    font-family: Roboto, sans-serif;
  }
}
.c-preview {
  //background: red;
  @include box-model-negative-margins(5px);
  height: 114px;
  display: flex;
  &__logotype {
    //background: pink;
    width: 20px;
    height: 20px;
    & img {
      width: 100%;
      display: block;
    }
  }
  &__side {
    //border: 1px solid black;
    @include box-model-paddings(5px);
  }
  &__content {
    //border: 1px solid white;
    @include box-model-paddings(5px);
    flex: 1;
  }
  &__heading {
    //background: palegreen;
    margin-bottom: 13px;
    & h3 {
      font-size: 16px;
    }
  }
  &__body {
    //background: rosybrown;
  }
}
.c-select-block {
  //background: teal;
  height: 114px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__item {
    position: relative;
    //background: orange;
    padding-top: 34px;
    @include box-model-paddings(12px);
    @include box-model-negative-margins(12px);
    display: flex;
  }
  &__text {
    //background: red;
    flex: 1;
  }
  &__arrow-down {
    //background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.c-drop-down {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 34px;
  background: white;
  @include box-model-paddings(12px);
  box-shadow: 0 17px 30px rgba(101, 101, 101, 0.16);
  z-index: 9999;
  display: none;
  &__heading {
    //background: green;
    margin-bottom: 20px;
  }
  &__body {
    //border: 1px solid black;
  }
  &__selected {
    font-size: 12px;
    background: #F6F6FA;
    margin-top: -10px;
    margin-bottom: -10px;
    padding: 10px;
  }
  &__input {
    display: block;
    border: 0;
    outline: 0;
    margin-top: -10px;
    margin-bottom: -10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 32px;
    max-width: 150px;
  }
  &__list {
    //border: 1px solid blueviolet;
    display: flex;
    flex-wrap: wrap;
    @include box-model-negative-margins(12px);
    font-size: 13px;
    &-item {
      //border: 1px solid black;
      @include box-model-paddings(12px);
      margin-bottom: 24px;
      &--75 {
        width: 55%;
      }
      &--25 {
        width: 45%;
      }
    }
  }
  &__wrapper {
    //background: blue;
    display: flex;
    align-items: center;
    @include box-model-negative-margins(5px);
    &-item {
      //background: green;
      &:nth-child(2) {
        //background: royalblue;
      }
      @include box-model-paddings(5px);
      &--fluid {
        flex: 1;
        display: flex;
      }
    }
  }
}

.c-add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.c-calendar {
  border: 1px solid green;
}