.l-body {
  //background: green;
  display: flex;
  flex-direction: column;
  position: relative;
  &__header {}
  &__main {
    //border: 1px solid red;
    flex: 1;
  }
}
._ITEM {
  padding: 40px;
  background: black;
}