.l-header {
  //background: red;
  padding-top: 17px;
  padding-bottom: 38px;
  background: white;
  &__navigation {
    //background: blue;
    margin-bottom: 53px;
  }
  &__heading {
    //background: green;
    margin-bottom: 63px;
  }
  &__sort {
    margin-bottom: 60px;
  }
  &__filter {
    //background: purple;
  }
}