* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}
html {
  overflow-x: hidden;
}
body {
  //background: linear-gradient(0deg, #FAFAFA, #FAFAFA), linear-gradient(180deg, #FAFAFA 0%, #FFFFFF 111.88%);
  background: linear-gradient(0deg, #FAFAFA, #FAFAFA), linear-gradient(180deg, #FAFAFA 0%, #FFFFFF 111.88%);
  font-family: 'Roboto', sans-serif;
}
ul {
  list-style: none;
}

table {
  border-spacing: 0;
}